---
// HTML shell copied from the static WordPress export (public/sermons/index.html)
// so Astro-generated pages match the rest of the site. Loads the same theme
// assets from public/wp-content and public/wp-includes.
interface Props {
	title: string;
	bodyClass: string;
	mainClass?: string;
	sidebar?: boolean;
	activeNav?: string;
}
const {
	title,
	bodyClass,
	mainClass = 'content wpfc-sermon-container wpfc-genesis ',
	sidebar = true,
	activeNav = '/sermons',
} = Astro.props;
---
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}</title>
<meta name="robots" content="max-image-preview:large" />
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com" />
<link rel="stylesheet" id="aspire-pro-css" href="/wp-content/themes/aspire-pro/style.css?ver=1.3" type="text/css" media="all" />
<style id="aspire-pro-inline-css" type="text/css">
		a,
		.genesis-nav-menu a:focus,
		.genesis-nav-menu a:hover,
		.genesis-nav-menu .current-menu-item > a,
		.menu-toggle:focus,
		.menu-toggle:hover,
		.sub-menu-toggle:focus,
		.sub-menu-toggle:hover,
		.entry-title a:hover,
		.image-section a:hover,
		.image-section .featured-content .entry-title a:hover,
		.site-footer a:hover {
			color: #00737c;
		}

		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"],
		.archive-pagination li a:hover,
		.archive-pagination .active a,
		.button,
		.widget .button,
		.front-page-2 .image-section,
		.popular,
		.genesis-nav-menu .sub-menu a:hover,
		.genesis-nav-menu .sub-menu li.current-menu-item > a,
		.footer-widgets .enews-widget input[type="submit"],
		.content .portfolio .more-link:hover {
			background-color: #00737c;
		}

		button,
		input[type="button"],
		input[type="reset"],
		input[type="submit"],
		.button,
		.front-page input:focus,
		.front-page textarea:focus,
		.widget .button {
			border-color: #00737c;
		}
</style>
<link rel="stylesheet" id="wp-block-library-css" href="/wp-includes/css/dist/block-library/style.min.css?ver=6.5.8" type="text/css" media="all" />
<link rel="stylesheet" id="wpfc-sm-styles-css" href="/wp-content/plugins/sermon-manager-for-wordpress/assets/css/sermon.min.css?ver=2.18.0" type="text/css" media="all" />
<link rel="stylesheet" id="dashicons-css" href="/wp-includes/css/dashicons.min.css?ver=6.5.8" type="text/css" media="all" />
<link rel="stylesheet" id="wpfc-sm-style-genesis-css" href="/wp-content/plugins/sermon-manager-for-wordpress/assets/css/theme-specific/genesis.css?ver=2.18.0" type="text/css" media="all" />
<link rel="stylesheet" id="google-fonts-css" href="//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C600%2C700&ver=1.3" type="text/css" media="all" />
<link rel="stylesheet" id="font-awesome-css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css?ver=4.5.0" type="text/css" media="all" />
<link rel="stylesheet" id="aspire-gutenberg-css" href="/wp-content/themes/aspire-pro/lib/gutenberg/front-end.css?ver=1.3" type="text/css" media="all" />
<script is:inline type="text/javascript" src="/wp-includes/js/jquery/jquery.min.js?ver=3.7.1" id="jquery-core-js"></script>
<script is:inline type="text/javascript" src="/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.4.1" id="jquery-migrate-js"></script>
<script is:inline type="text/javascript" src="/wp-content/themes/aspire-pro/js/global.js?ver=1.0.0" id="aspire-global-js"></script>
<link rel="icon" href="/wp-content/themes/aspire-pro/images/favicon.ico" />
</head>
<body class={bodyClass} itemscope itemtype="https://schema.org/WebPage"><div class="site-container"><ul class="genesis-skip-link"><li><a href="#genesis-nav-primary" class="screen-reader-shortcut"> Skip to primary navigation</a></li><li><a href="#genesis-content" class="screen-reader-shortcut"> Skip to main content</a></li><li><a href="#genesis-footer-widgets" class="screen-reader-shortcut"> Skip to footer</a></li></ul><header class="site-header" itemscope itemtype="https://schema.org/WPHeader"><div class="wrap"><div class="title-area"><p class="site-title" itemprop="headline"><a href="/">Calvary Church</a></p></div><nav class="nav-primary" aria-label="Main" itemscope itemtype="https://schema.org/SiteNavigationElement" id="genesis-nav-primary"><div class="wrap"><ul id="menu-top" class="menu genesis-nav-menu menu-primary js-superfish"><li id="menu-item-34" class={`menu-item menu-item-type-post_type menu-item-object-page ${activeNav === '/about' ? 'current-menu-item page_item page-item-29 current_page_item ' : ''}menu-item-34`}><a href="/about" aria-current={activeNav === '/about' ? 'page' : undefined} itemprop="url"><span itemprop="name">About</span></a></li>
<li id="menu-item-169" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a href="/events" itemprop="url"><span itemprop="name">Events</span></a></li>
<li id="menu-item-211" class={`menu-item menu-item-type-custom menu-item-object-custom ${activeNav === '/sermons' ? 'current-menu-item ' : ''}menu-item-211`}><a href="/sermons" aria-current={activeNav === '/sermons' ? 'page' : undefined} itemprop="url"><span itemprop="name">Sermons</span></a></li>
<li id="menu-item-277" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-277"><a href="/what-we-believe" itemprop="url"><span itemprop="name">What We Believe</span></a></li>
<li id="menu-item-209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209"><a href="/resources" itemprop="url"><span itemprop="name">Resources</span></a></li>
<li id="menu-item-37" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-37"><a target="_blank" rel="noopener" href="https://www.facebook.com/Calvary-Orthodox-Presbyterian-Church-Schenectady-NY-159322384080044/" itemprop="url"><span itemprop="name">Facebook</span></a></li>
<li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="/give" itemprop="url"><span itemprop="name">Give</span></a></li>
</ul></div></nav></div></header><div class="site-inner">
<div class="content-sidebar-wrap"><main class={mainClass} id="genesis-content">
<slot />
</main>{sidebar && <aside class="sidebar sidebar-primary widget-area" role="complementary" aria-label="Primary Sidebar" itemscope itemtype="https://schema.org/WPSideBar" id="genesis-sidebar-primary"><section id="search-2" class="widget widget_search"><div class="widget-wrap"><form class="search-form" method="get" action="/" role="search" itemprop="potentialAction" itemscope itemtype="https://schema.org/SearchAction"><label class="search-form-label screen-reader-text" for="searchform-1">Search this website</label><input class="search-form-input" type="search" name="s" id="searchform-1" placeholder="Search this website" itemprop="query-input"><input class="search-form-submit" type="submit" value="Search"><meta content="/?s={s}" itemprop="target"></form></div></section>
</aside>}</div>
</div><div class="footer-widgets" id="genesis-footer-widgets"><div class="wrap"><div class="widget-area footer-widgets-1 footer-widget-area"><section id="custom_html-13" class="widget_text widget widget_custom_html"><div class="widget_text widget-wrap"><div class="textwidget custom-html-widget"><a id="contact"></a>

<p>Calvary Orthodox Presbyterian Church</p>

<p><a href="https://www.google.com/maps/place/Calvary+Orthodox+Presbyterian+Church/@42.8134191,-73.9271135,15z/data=!4m5!3m4!1s0x89de6dee7875c80b:0x16d929cf881c20b4!8m2!3d42.8134191!4d-73.9183588"><address>
1230 Rugby Road<br />
Schenectady NY 12308
	</address></a></p></div></div></section>
</div><div class="widget-area footer-widgets-2 footer-widget-area"><section id="custom_html-7" class="widget_text widget widget_custom_html"><div class="widget_text widget-wrap"><div class="textwidget custom-html-widget"><p>
	Tel: <a href="tel:518-377-0801">(518) 377-0801</a></p>

<p>Email: <a href="mailto:calvaryopcny@gmail.com">calvaryopcny@gmail.com</a>
</p></div></div></section>
</div><div class="widget-area footer-widgets-3 footer-widget-area"><section id="custom_html-14" class="widget_text widget widget_custom_html"><div class="widget_text widget-wrap"><div class="textwidget custom-html-widget"><p><a href="https://www.facebook.com/pg/Calvary-Orthodox-Presbyterian-Church-Schenectady-NY-159322384080044" target="_blank" rel="noopener">Find Us on Facebook</a></p></div></div></section>
</div></div></div><footer class="site-footer" itemscope itemtype="https://schema.org/WPFooter"><div class="wrap"><nav class="nav-footer"></nav><p>Copyright &copy;&nbsp;2026 · <a href="/">Calvary Orthodox Presbyterian Church - Schenectady, NY</a>  · All Rights Reserved</p></div></footer></div><script is:inline type="text/javascript" src="/wp-includes/js/hoverIntent.min.js?ver=1.10.2" id="hoverIntent-js"></script>
<script is:inline type="text/javascript" src="/wp-content/themes/genesis/lib/js/menu/superfish.min.js?ver=1.7.10" id="superfish-js"></script>
<script is:inline type="text/javascript" src="/wp-content/themes/genesis/lib/js/menu/superfish.args.min.js?ver=3.5.0" id="superfish-args-js"></script>
<script is:inline type="text/javascript" src="/wp-content/themes/genesis/lib/js/skip-links.min.js?ver=3.5.0" id="skip-links-js"></script>
<script is:inline type="text/javascript" src="/wp-content/themes/aspire-pro/js/fadeup.js?ver=1.0.0" id="aspire-fadeup-script-js"></script>
<script is:inline type="text/javascript" id="aspire-responsive-menu-js-extra">
/* <![CDATA[ */
var genesis_responsive_menu = {"mainMenu":"Menu","menuIconClass":"dashicons-before dashicons-menu","subMenu":"Submenu","subMenuIconClass":"dashicons-before dashicons-arrow-down-alt2","menuClasses":{"combine":[".nav-primary"],"others":[]}};
/* ]]> */
</script>
<script is:inline type="text/javascript" src="/wp-content/themes/aspire-pro/js/responsive-menus.min.js?ver=1.3" id="aspire-responsive-menu-js"></script>
</body></html>
